:host{
    display: grid;
    grid-template-rows: 92% 8%;
    grid-template-areas: 
    'routerOut'
    'navigation';
    height: 100%;
    width: 100vw;
}

.navBar{
    grid-area: navigation;
    background-color: var(--accent);
    width: 100vw;
    border: none;
}

.routerOutlet{
    grid-area: routerOut;
    width: 100%;
    height: 100;
}

.navBar button{
    background: none;
    color: var(--text-inverted);
    height: 100%;
    width: 20%;
    border: none;
}

.navBar button:active{
    background:rgb(148, 28, 28);
}

@media only screen and (max-width: 767px) {
    .navBar{
        height: 8%;
        position: fixed;
        bottom: 0;
    }
}

@media only screen and (min-width: 768px) {
    :host{
        display: grid;
        grid-template-rows: 5% 95%;
        grid-template-areas:
        'navigation' 
        'routerOut';
        height: 100%;
    }

    .navBar button{
        width: 10%;

    }

}