<div class='container'>
    <img class='zap-logo' src="./assets/icons/icon-512x512.png" alt="">
    <div class='info'>
        <h1>Zap-App</h1>
        <p>This app allows you to report any sightings of Pangolins in the wild. 
            Wheather they are alive or dead you will be able to report them here.
            You will get the best result by installing this onto your system. On desktop this can be done from the address bar at the top
            or from chrome on android via the settings menu in the address bar at the top.
            <br/>
            <br/>
            The data uploaded will be studied by researchers for the relevant studies.
        </p>
    </div>
</div>