<div class='container'>
    <img [src]='imageUrl' alt='The uploaded pangolin image' class='pangolinPreview'>
    <form class='pangolinInput' (submit)='handleSubmit($event)'>
        <input type="file" name="pangolinImage" class="pangolinImage" accept="image/*; capture=camera" (change)="handleImageChange($event)" [(ngModel)]='imageList'/><br/>
        <label for="isDead">Is the pangolin Dead?</label><br/>
        <input type="radio" name="isDead" [value]="true" [(ngModel)]='isDead' class='isDead'><label for="true">Yes</label><br/>
        <input type="radio" name="isDead" [value]="false" [(ngModel)]='isDead' class='isDead'><label for="false">No</label><br/>
        <label for="deathType">How did the pangolin die?</label><br/>
        <select name="deathType" id="deathType" [(ngModel)]="deathId" [disabled]='isDead == false'>
            <option *ngFor='let deathTy of deathTypes' [value]='deathTy.deathId'>{{deathTy.deathName}}</option>
        </select><br/>
        <label for="note">Additional notes:</label><br/>
        <textarea name="note" id="note" cols="30" rows="10" [(ngModel)]='note'></textarea><br/>
        <input type="submit" value="Submit" id='submit'>
    </form>
</div>