.container{
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    gap: 0px 0px;
    grid-template-areas: 
    'imgPreview'
    'formInput';
}

.pangolinInput{
    grid-area: formInput;
    position: relative;
    background: none;
    color: var(--text-main);
    width: 99%;
    height: 100%;
    border: solid 0.1rem var(--accent);
    overflow-y: auto;
    min-height: 100%;
}

.pangolinInput::-webkit-scrollbar{
    width: 0.5rem;
}

.pangolinPreview{
    grid-area: imgPreview;
    height: 100%;
    width: 100%;
    color: var(--text-main);
}

#note{
    background: var(--accent);
    color: var(--text-main);
    border: none;
    height: 40%;
    width: 85%;
    /* text-align: left; */
    text-align: start;
    position: relative;
    left: 2rem;
}

input{
    position: relative;
    left: 8%;
    background: var(--accent);
    outline: none;
    border: none;
    border-radius: 0.5rem;
}

#note{
    border-radius: 1rem;
    position: relative;
    left: 8%;
    width: 85%;
}

#note:focus{
    outline: none;
}

#deathType{
    width: 85%;
    height: 2rem;
    position: relative;
    left: 8%;
    background: var(--accent);
    border-radius: 0.5rem;
    color: var(--text-main);
}

#deathType:focus{
    outline: none;
}

#submit{
    width: 85%;
    height: 3rem;
    color: var(--text-main)
}

#submit:active{
    border: none;
}

label{
    position: relative;
    left: 8%;
}

@media only screen and (min-width: 768px) {
    .container{
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
        grid-template-areas: 'formInput imgPreview';
        gap: 0.2% 0.1%;
    }
    .pangolinInput{
        height: 90%;
        overflow: none;
        width: 100%;
    }
}